telethon==1.40.0
psycopg2-binary==2.9.10
dbt-postgres==1.9.0
ultralytics==8.3.167
fastapi==0.116.1
uvicorn==0.35.0
python-dotenv==1.1.1
dagster==1.11.2
dagster-webserver==1.11.2
pydantic==2.11.7
pandas==2.3.1
numpy==2.2.6